<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REGISTER PAGE</title>
<link rel="stylesheet" th:href="@{/css/registerstyle.css}">
</head>
<body>
  <h1>USER REGISTRATION</h1>
  <form action="registration" method="post">
    <label>User Name : </label>
    <input type="text" name="username">
    <br><br>
    <label>Email : </label>
    <input type="email" name="email">
    <br><br> 
    <label>Password : </label>
    <input type="password" name="password">
    <br><br>
    <label>Gender : </label>
    <input type="radio" name="gender" value="male">Male
    <input type="radio" name="gender" value="female">Female
    <input type="radio" name="gender" value="others">Others
    <br><br>
    <label>Role : </label>
    <input type="radio" name="role" value="admin">Admin
    <input type="radio" name="role" value="customer">Customer
    <br><br>
    <label>Address : </label>
    <textarea  name = "address"></textarea>
    <br><br>
    <input type="submit" value="REGISTER">
    
  </form>

</body>
</html>